header {
    display: flex;
    align-items: center;
    margin: 20px 40px;
    background-color: #ffffff;
    justify-content: space-between;
}

.logo {
    margin-right: auto;
}

.logo-img {
    width: 130px; /* Adjust the logo size as needed */
}

nav ul{
        display: flex;
        justify-content: center;
        text-decoration: none;
        list-style: none;
        gap: 30px;
}

nav ul li{
display: flex;
align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar a {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}


.navbar a:hover {
    color: #007bff;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

.icon:hover {
    transform: scale(1.1);
}
