html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}
body{
    margin: 0;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}
/* Header */

header {
    display: flex;
    align-items: center;
    margin: 20px 10%;
    background-color: #ffffff;
    justify-content: space-between;
}

.logo {
    margin-right: 3rem;

}

.logo-img {
    width: 150px; /* Adjust the logo size as needed */
}

nav ul{
        display: flex;
        justify-content: center;
        text-decoration: none;
        list-style: none;
        gap: 40px;
}

nav ul li{
display: flex;
align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar a {
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
}


.navbar a:hover {
    color: #007bff;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-icons a
{
    text-decoration: none;
    color: black;
}

.icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

.icon:hover {
    transform: scale(1.1);
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 10%;
    background-color: #f4f4f4;
}

.hero-content {
    flex: 1;
    padding-right: 20px;
}

.hero-content h1 {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.hero-content p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.hero-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #0056b3;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px #222);

}

/* Breadcrumb */
.breadcrumb {
    margin: 20px 0 0;
    font-size: 14px;
    color: #777;
}

.breadcrumb a {
    color: #333;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

/* Header */
.page-header {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    margin: 0 0 20px;
}

.page-header h1 {
    font-size: 36px;
    color: #333;
    text-transform: uppercase;
}

.product-info {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 20px;
}

.product-info span {
    font-size: 16px;
    color: #333;
}

.sort label {
    font-size: 16px;
    color: #333;
}

.sort select {
    padding: 5px;
    font-size: 16px;
}

/* Product Grid */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 40px;
}

.product-card {
    border-radius: 8px;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card img {
    width: 70%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;

}

.product-img{
    width: 100%;
    background-color: #e9e9e9;
    text-align: center;
    flex: 1;
}

.product-img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-card h3 {
    font-size: 18px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.product-card .price {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

/* Show page */

.product-details {
    flex: 1; /* Takes up the other half */
    max-width: 50%;
}

.product-details h1 {
    font-size: 24px;
    color: #333;
    text-transform: uppercase;
}

.price {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.quantity-control {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.quantity-control button,
.quantity-control input {
    padding: 5px 10px;
    font-size: 16px;
    color: #333;
    border: 1px solid #ddd;
}

.add-to-cart {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #333;
}

.shipping-info {
    color: red;
    font-size: 14px;
    margin: 10px 0;
}

.description,
.ingredients {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
}

.description p,
.ingredients p {
    margin: 0;
}

.product-page {
    display: flex;
    gap: 80px;
    align-items: flex-start;
}

/* Best Seller Badge */
.volume-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #000;
    color: #fff;
    padding: 5px 8px;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
}
/* Footer */


footer {
    background-color: #000000;
    padding: 20px 0;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin-top: 40px;
}

.footer-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-logo {
    max-width: 150px;
    margin-bottom: 10px;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
    text-decoration-line: underline;

}

.footer-section p, .footer-section ul, .footer-section a {
    font-size: 14px;
    color: #bdbdbd;
    text-decoration: none;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #777;
}

/* Authorization */

   /* Login Wrapper */
   .auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

/* Login Card */
.auth-card {
    background-color: #f4f4f4;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-header {
    font-size: 24px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

/* Form Group */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

/* Error Message */
.invalid-feedback {
    color: red;
    font-size: 12px;
}

/* Checkbox Group */
.form-check-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.form-check-label {
    font-size: 14px;
    color: #555;
}

/* Submit Button */
.btn-primary {
    width: 100%;
    padding: 12px;
    background-color: #000000;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #292b2c;
}

/* Password Reset Link */
.password-link {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #007bff;
    margin-top: 15px;
    text-decoration: none;
}

.password-link:hover {
    text-decoration: underline;
}